{% extends "base.htm.twig" %}
{% block data %}
    <style>
        .ck-editor__editable {
            min-height: 200px;
        }
    </style>
        <div class="album py-5 bg-light">
            <div class="container">
                <h1>Dodaj ogłoszenie:</h1>

                <form action="{{ form_action }}" method="{{ form_method }}">
                    <div class="form-group">
                        <label for="anno__Title">Tytuł</label>
                        <input type="text" class="form-control" id="anno__Title" placeholder="Tytuł ogłoszenia" name="anno_title">
                    </div>
                    <div class="form-group">
                        <label for="anno_short">Zarys ogłoszenia:</label>
                        <input maxlength="255" type="text" class="form-control" id="anno_short"
                               placeholder="Krótki opis.." name="anno_short">
                    </div>
                    <div class="form-group">
                        <label for="anno_desc">Opis ogłoszenia</label>
                        <textarea class="form-control" id="anno_desc" rows="10" cols="10" name="anno_content"></textarea>
                    </div>
                    <div class="form-group">
                        <button name="submit" type="submit" class="btn btn-success">Zapisz</button>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}
{% block scripts %}
    {{ parent }}
    <script src="./ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#anno_desc'), {
                toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote']
            })
            .catch(error => {
                console.log(error);
            });
        ClassicEditor.replace('Resolution', {
            height: 400
        });
    </script>
{% endblock %}