{% extends "base.htm.twig" %}
{% block data %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Wyszukaj coś dla siebie</h1>
                <a href="add.php" class="btn btn-primary my-2">Dodaj ogłoszenie</a>
            </div>
        </section>
        {% if announcements %}
            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">
                        {% for anno in announcements %}
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5>{{ anno.title }}</h5>
                                        <p class="card-text">{{ anno.short_description }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a href="view.php?view={{ anno.announcement_id }}">
                                                    <button type="button"
                                                            class="btn btn-sm btn-outline-secondary">Zobacz ogłoszenie</button>
                                                </a>
                                            </div>
                                            <small class="text-muted">{{ anno.created_at }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="album py-5 bg-light">
                <div class="container">
                    <h3 align="center">Pusto! Proszę dodać ogłoszenie</h3>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}