{% extends "base.htm.twig" %}
{% block data %}
        <div class="album py-5 bg-light">
            <div class="container">
                <h3 align="center">Nie odnaleziono ogłoszenia</h3>
            </div>
        </div>
{% endblock %}