{% extends "base.htm.twig" %}
{% block data %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">{{ anno.title }} </h2>
                    <small class="text-muted">{{ anno.created_at }}</small>
                </div>
                <div class="modal-body">
                    {{ anno.content|raw }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}